/* Styles for Submit Post Form */
.submitPostFormBox {
    position: fixed;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;    
    max-width: 600px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgba(193, 182, 228,0.9);
    z-index: 10000;
  }
  .form-control{
    padding: 0;
  }
  .submitPostFormBox textarea {
    resize: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .submitPostFormBox input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  #warning-msg > p{
    color: red;
    font-size: smaller;
    text-align: center;
  }
  
  .submitPostFormBox input[type="button"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Styles for Blog Post */
  .blogPost {
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .blogPost h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .blogPost p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  
  .blogPost small {
    font-size: 14px;
    color: #666;
  }
  
  /* Styles for Submit Post Button */
  .submitPostFormBtn img {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 40px;
    width: 105px;
    padding: 10px;
    z-index: 100;
    cursor: pointer;
  }
  .submitPostFormBtn img:hover{
    background-color: rgb(99, 156, 189); 
    border-radius: 40px;
    padding: 0px;
    transition: 500.2ms;
  }
  .submitPostFormBtn img:active{
    background-color:aqua;
    padding: 5px;
    transition: 200.2ms;
  }
#submitForm-back-btn{
  width: 55px;
  padding: 5px;
  cursor: pointer;
}

#submitForm-back-btn:hover{
  background-color: rgb(99, 156, 189);  
  padding: 0;
    border-radius: 50px;
    transition: 500.2ms;
}

#submitForm-back-btn:active{
  background-color:aqua;
  padding: 5px;
  transition: 200.2ms;
}

/* .file-upload-container{
  display: grid;
  grid-template-columns:  repeat(3,auto);
    grid-template-rows: 1fr; 
} */