#BookAvailabilityDetails{
    min-height: 100vh;
    height: 100%;
    box-sizing: border-box;
    background-image: radial-gradient( circle farthest-corner at 48.4% 47.5%,  rgba(122,183,255,1) 0%, rgba(21,83,161,1) 90% );
}

#BookAvailabilityDetails .table{
  position: relative;
    top: 20%;
    width: 80%;
    margin: auto;
}
#BookAvailabilityDetails #response{
    width: 130px;
}
#BookAvailabilityDetails #requestThis{
    width: 200px;
}
@keyframes slideDownBookAvailabilityDetails {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#BookAvailabilityDetails .modal.fade.show.custom-modal .modal-dialog {
    animation: slideDownBookAvailabilityDetails 0.5s ease-in-out;
}

#BookAvailabilityDetails .modal-backdrop.show {
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

#BookAvailabilityDetails .modal-content {
    border-radius: 0.3rem;
    overflow: hidden;
}

#BookAvailabilityDetails .btn-close-white {
    filter: invert(1);
}
