.main-donationBody .bodyComponent-donation{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: auto;
    min-height: 85vh;
    display: flex; 
    justify-content: space-between;
}

.main-donationBody .bodyComponent-donation-outer{
    background-image: url("src/Images/donation-background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black;
    
}

.main-donationBody a{
    text-decoration: none !important;
}

.main-donationBody .bodyComponent-donation div{
    padding: 10px;
    border:1px solid black;      
    border-radius: 20px;
    margin-top: 10%;
}
.main-donationBody .donate-books, .donate-funds{
    margin:0 auto;
} 

.main-donationBody .donate-funds, .donate-books{
    background-color: rgb(7,46,93);
    color: white;
    cursor: pointer;
}

.main-donationBody .donate-funds:hover, .donate-books:hover{
    background-color: rgb(36, 99, 176);
    cursor: pointer;
}

.main-donationBody .donate-link{
    margin: 0 auto;
}