.subHeadeContainer{
  display: flex;
  justify-content: space-between;
  height:auto;
  border: 2px solid black;
  background-color: rgb(144, 154, 160);
  background:linear-gradient(rgb(144, 154, 160),rgb(126, 132, 138),rgb(96, 103, 112));
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%; */
}

.headerTitle{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background:linear-gradient(rgb(144, 154, 160),rgb(126, 132, 138),rgb(96, 103, 112)) !important;
}
.headerTitle{
    width:50%; 
}
.me-auto{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.headerTitle img{
    width:40px;
}
.headerTitle input[type="text"]{
    width: 80%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.menu-btn{
  width: 50px;  
  padding: 10px;
}
.menu-btn:hover{
  background-color:rgb(178, 204, 219);
  padding: 5px;
  border-radius: 20px;
  transition: 500.2ms;
}
.menu-btn:active{
  background-color:rgb(55, 115, 149);
  padding: 10px;
  transition: 200.2ms;
}

@media only screen and (max-width: 750px){
.headerTitle{
  flex-direction: column;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}
.headerTitle input[type="text"]{
  width: 80%;
}
.subHeadeContainer{
  display: flex;
  flex-direction: column;
}

}
@media (max-width: 650px) {
/* Hide all li elements inside subHeaderImageBtnPannel */
/* .subHeaderImageBtnPannel nav{
  display: none;
}

#menu-btn{
  width: 40px;
  display: inline;
} */

}