.idea-corner .homepage-container {
  flex-grow: 1;
  height: 60vh;
  width: 220vh;
  background-image: url("../assets/home1.jpg");
  color: white;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.idea-corner body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Browallia New';
}

.idea-corner .homepage-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.idea-corner .show_your_creativity {
  font-weight: 600;
  color: white;
  font-size: 5rem;
  -webkit-text-stroke: 3px black;
  text-align: center;
  margin-bottom: 2rem;
}

.idea-corner .head-col {
  color: yellow;
}

.idea-corner .buttons-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: auto;
}

.idea-corner .btn_button {
  background: linear-gradient(0deg, rgba(3,47,100,1) 0%, rgba(69,141,224,1) 100%);
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.idea-corner .btn_button:hover {
  background: linear-gradient(0deg, rgba(3,47,100,1) 0%, rgba(39,111,194,1) 100%);
}

.idea-corner .btn_gray {
  background: linear-gradient(0deg, rgba(128,128,128,1) 0%, rgba(192,192,192,1) 100%);
}

.idea-corner .btn_gray:hover {
  background: linear-gradient(0deg, rgba(112,112,112,1) 0%, rgba(176,176,176,1) 100%);
}

.idea-corner .button-text {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .idea-corner  .homepage-container {
    padding: 1rem;
  }
  
  .idea-corner  .show_your_creativity {
    font-size: 3rem;
    -webkit-text-stroke: 2px black;
  }
  
  .idea-corner .buttons-container {
    flex-direction: column;
    align-items: center;
  }
  
  .idea-corner .btn_button {
    width: 80%;
    max-width: 300px;
  }
}

@media (max-width: 480px) {
  .idea-corner  .show_your_creativity {
    font-size: 2rem;
    -webkit-text-stroke: 1px black;
  }
  
  .idea-corner  .btn_button {
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
  }
}