.bodyComponent {
    margin: 0px 10px;
    padding: 40px 10px; 
    background-color: rgb(255, 255, 255);;
    /* display: grid;
    grid-template-columns: repeat(1,auto);
    grid-template-rows: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  #bodyComponent-footer{
    margin:20px 50px;
    display: grid;
    grid-template-columns: repeat(1,auto);
    grid-template-rows: 1;
  }
  #selectList-container{
    margin:20px 50px;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: 1;
  }

  #bodyComponent-footer>div{
    text-align: center;
  }

  #selectList-div>select{
    font-size: medium;
    font-style: italic;
    margin-left: 10px;
    background-color: rgb(144, 154, 160);
    padding: 5px 10px;
    border-radius: 10px;
  }

#post-numbers>button{
  padding:5px 10px;
  margin: 0 10px;
  border-radius: 10px;
  background-color: rgb(144, 154, 160);
}
#selectList-container>button{
  display: flex;
  flex-direction: row;
}

  #post-numbers>p{
    background-color: rgb(144, 154, 160);
    width:70px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
    display: inline;
  }
  #post-numbers {
    display: flex;
    justify-content: flex-end; /* Aligns all child elements to the right */
    align-items: center; /* Ensures the items are vertically centered */
  }
  
  #post-numbers p {
    margin: 0 10px;
    width: auto;
  }
  @media only screen and (max-width: 600px){
    #selectList-container{
      grid-template-columns: repeat(1,auto);
      justify-content: center;
      grid-template-rows: 2;
    }
    #selectList-container>div{
      justify-content: space-around;
      margin-top: 5px;
    }
  }