.main-sidePanelCont .sidePanel_container {
    position: fixed;
    top: 0;
    right: 0;
    height:100%;
    background-color:rgb(30,52,65);
    color: #fff;
    padding: 20px;
    overflow: auto;
    z-index: 200;
  }

  .main-sidePanelCont #sidePanel-back-btn{
    width: 60px;
    padding: 10px;
    cursor: pointer;
  }
  
  .main-sidePanelCont #sidePanel-back-btn:hover{
    background-color: aliceblue;  
    border-radius: 50px;
    padding: 5px;
    transition: 500.2ms;
  }
  
  .main-sidePanelCont #sidePanel-back-btn:active{
    background-color:aqua;
    padding: 10px;
  transition: 200.2ms;
  }