.main-dashboard .dashbord-btn-panel > .row-cols-12{
    display: flex;
    justify-items: center;
    justify-content: space-around;
}
.main-dashboard .header{
    display: flex;
    justify-content: center;
    color:white;
    text-shadow: -2px -2px 0 #000,  
                  2px -2px 0 #000,
                  -2px 2px 0 #000,
                  2px 2px 0 #000;
}
.main-dashboard .dashboard {
    position: relative;
    border: 1px solid black;
    border-radius: 20px;
    max-width: 80%;
    margin: 0 auto;
    min-height: 60vh;
    padding: 20px;
    overflow: hidden;
    z-index: 1;
}

.main-dashboard .dashboard-outer{
    position: relative;
    z-index: 1
}

.main-dashboard .profile-container-inner{
  border: 1px solid black;
  padding: 20px;
  border-radius: 50px;
  background-color: rgb(217,217,217);
}

.main-dashboard .edit-btn-profile{
  width:40px;
  padding: 10px;
  margin-left: 10px;
}
.main-dashboard .edit-btn-profile:hover{
  padding: 8px;
  background-color: rgb(32, 120, 214);
  border-radius: 20px;
  transition: all 0.5s ease;
}

.main-dashboard .dashboard::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("src/Images/dashBoard_background.webp");
    background-size: cover;
    background-position: center;
    filter: blur(6px);
    z-index: -1;
}

.main-dashboard .profile-label{
  font-weight: bold;
  font-size: 1.1em;
}

.main-dashboard .btn-primary{
    background: linear-gradient(0deg, rgba(3,47,100,1) 25%, rgba(69,141,224,1) 95%) !important;
    border: 1px solid white;
  }
  .main-dashboard .btn-secondary{
    background: linear-gradient(0deg, rgb(55, 57, 60) 25%, rgb(140, 142, 144) 95%) !important;
    border: 1px solid white;
  }
  .main-dashboard .btn-primary:hover{
    background: linear-gradient(0deg, rgba(69,141,224,1) 25%, rgba(3,47,100,1) 95%) !important;
    border: 1px solid white;
    transition: all 0.5s ease;
  }
  .main-dashboard .btn-secondary:hover{
    background: linear-gradient(0deg, rgb(151, 8, 23) 25%, rgb(227, 72, 72) 95%) !important;
    border: 1px solid white;
    transition: all 0.5s ease;
  }

  .main-dashboard #back-btn-profile{
    width:50px;
    padding: 5px;
    margin-left: 10px;
    border-radius: 50px;
  }
  .main-dashboard #back-btn-profile:hover{
    padding: 0;
    background-color: rgb(9, 107, 75);
    transition: all 0.5s ease;
  }