.bookSectionCommonTableClass .container {
    margin: 40px auto;
    height: auto;
    width: 70%;
    background: rgba(234, 228, 228, 0.19);
    border: 2px solid rgba(251, 251, 251, 0.55);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index: 1000;
    padding: 20px 40px;
}

.bookSectionCommonTableClass #response {
    width: 130px;
}

.bookSectionCommonTableClass .container h1 {
    color: #072E5D;
    text-align: center;
    padding: 10px !important;
    font-family: 'Georgia', serif;
    font-weight: 800;
}

.bookSectionCommonTableClass table {
    background-color: white;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.bookSectionCommonTableClass table th {
    background-color: #4A86CD;
}

.bookSectionCommonTableClass .table th:nth-child(3), .bookSectionCommonTableClass .table td:nth-child(3),
.bookSectionCommonTableClass .table th:nth-child(2), .bookSectionCommonTableClass .table td:nth-child(2) {
    width: 20%;
}

.bookSectionCommonTableClass .table th:nth-child(1), .bookSectionCommonTableClass .table td:nth-child(1) {
    width: 10%;
}

.bookSectionCommonTableClass .container input {
    width: 250px !important;
    margin-bottom: 20px !important;
}

#availableNow .table th:nth-child(2), .bookSectionCommonTableClass .table td:nth-child(2) {
    width: 10%;

}


#availableNow #availableAll, #availableNow #notAvailableAll {
    width: 200px;
    margin-top: 10px !important;
    padding: 8px !important;
    margin-right: 20px;
    border: 2px solid red;
}

.input-and-button {
    display: flex;
    align-items: center;
    gap: 20px; /* Adjust the gap as needed */
}

#availableNow #notAvailable {
    background: linear-gradient(0deg, rgb(9, 122, 255) 16%, rgb(55, 210, 232) 87%) !important;
    border: none;
    margin-left: 20px;
    margin-top: 10px;
}

#availableNow #availableThis {
    background: linear-gradient(0deg, rgb(9, 53, 112) 16%, rgb(21, 101, 202) 87%) !important;
    border: none;
    margin-left: 20px;
    margin-top: 10px;
}

#availableNow #hiddenBtn {
    display: flex;
    justify-content: space-between;
}

#availableNow #hiddenBtn #availableAll {
    background: linear-gradient(0deg, rgb(9, 53, 112) 16%, rgb(21, 101, 202) 87%) !important;
}

#availableNow #hiddenBtn #notAvailableAll {
    background: linear-gradient(0deg, rgb(9, 122, 255) 16%, rgb(55, 210, 232) 87%) !important;
}
