.donate-funds-container{
    margin-top: 50px;
    background-color: brown;
    padding-bottom: 10px;
}
.donate-funds-container{
    margin-bottom: 50px;
}
#home-btn{
    width:50px;
    padding: 5px;
    position: absolute;
    top:0;
    right: 5px;
}
#home-btn:hover{
    padding: 0;
}
#home-btn:active{
    padding: 0;
}