.donateBook-container{
    /* display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: auto;     */

    display: flex;  
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px 5px;
  min-height: 60vh;
}

.card_container{
    margin: 5px;
    justify-content:center;
    align-items:center;
}

P > label{
  font-weight: bold;
  font-style: italic;
}
#page-numbers > img{
  width:50px;
  padding: 5px;
  margin:0 5px;
}
#page-numbers {
  display: flex;
  justify-content: center;
}
#page-numbers > *{
  align-items: center;
}
#book-received{
  margin: 0 0 0 10px;
  padding: 3px 5px;
  border: 1px solid gray;
  background-color: green;
  color: white;
  border-radius: 10px;
}
#book-requied{
  padding: 3px;
  border: 1px solid gray;
  background-color: red;
  color: white;
  border-radius: 10px;
}
#donate-book-title{
  text-align: center;
}