.main-dFundAdmin #donate-funds-numbers > img{
    width:50px;
    padding: 5px;
    margin:0 5px;
  }
  .main-dFundAdmin #donate-funds-numbers {
    display: flex;
    justify-content: center;
  }
  .main-dFundAdmin #donate-funds-numbers > *{
    align-items: center;
  }
  .main-dFundAdmin #summary-btn{
    float:right;
    position: relative;
    z-index: 100;
  } 