.d-flex{
    margin-top: 25px;
}
.search-container {
    margin: 5px;

}
.eBook_NavBar{
    background-color: #8F9AA0 !important;
    padding: 15px;
}
.home_heading{
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px  1px 0 #000,
            1px  1px 0 #000 !important;
    color: white;

}

.eBook_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: url("../../../assets/images/ideas3.jpg") center center / cover no-repeat;
    width: 100vw;
}


.eBook_header h1{
    color: white;
    font-size: 60px;
    font-weight: bold;
}

.button{
    background-color:#1E3541;
    border-color:white;
    color: white;
}
.button:hover{
    background-color:#1E3541;
    border-color:#1E3541;
    opacity: 0.8;
}
.card-container{
    margin: 50px 0 !important;

}
.eBook_pagination{
    display: flex;
    justify-content: center;
    margin: 5px;
}
.btn-outline-primary{
    border-color: #1E3541;
    color: #1E3541;
}
.btn-outline-primary:hover{
    background-color: #1E3541;
}

@media only screen and (max-width: 1060px) {
     .eBook_header h1{
         font-size: 50px;
    }
    .eBook_header #searchSelect select,input,button{
       height: 35px;
    }
}

@media only screen and (max-width: 920px) {
    .eBook_header{
        display: inline-block;
    }
    .eBook_header h1{
        font-size: 60px;
        text-align: center;
        border-radius: 5px;
        background-color:rgba(143, 154, 160, 0.5) ;
    }

    .eBook_header h1 .home_heading{
        text-shadow:
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px  2px 0 #000,
                2px  2px 0 #000 !important;
        color: white;
    }

}