
.d-flex{
    margin-top: 25px;
}

.eBook_NavBar{
    background-color: #8F9AA0 !important;
    padding: 15px;
}
.home_heading{
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px  1px 0 #000,
            1px  1px 0 #000 !important;
    color: white;

}

.eBook_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: url("../../../assets/images/ideas3.jpg") center center / cover no-repeat;
    font-family: "Browallia New", sans-serif;
    width: 99vw;
}


.eBook_header h1{
    color: white;
    font-family: "Browallia New", sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin-left: 2rem;
}
.eBook_header h1 span{
    color: #C8F154;
}

.button{
    background-color:#1E3541;
    border-color:white;
    color: white;
}
.button:hover{
    background-color:#1E3541;
    border-color:#1E3541;
    opacity: 0.8;
}
.button-container {
    display: flex;
    justify-content: flex-end;
    margin: 15px 0;
}

#right-button{
    font-family: "Browallia New", sans-serif;
    background: linear-gradient(0deg, rgba(69,141,224,1) 16%, rgba(3,47,100,1) 87%) !important;
    font-weight: bold;
    width: 10rem;
}
#right-button a{
    text-decoration: none;
    color: white;
}
#buy-button{
    font-family: "Browallia New", sans-serif;
    background: linear-gradient(0deg, rgba(69,141,224,1) 16%, rgba(3,47,100,1) 87%) !important;
    font-weight: bold;
    width: 10rem;
    padding: 0.5rem 0;
}
.home-center-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 5px;
}
#buy-button a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#home-update-button{
    width: 8rem !important;
}
#home-delete-button{
    width: 8rem !important;
}
.eBook_pagination{
    display: flex;
    justify-content: center;
    margin: 5px;
}

@media only screen and (max-width: 1250px) {

    .eBook_header{
        width: 100vw;
    }
}

@media only screen and (max-width: 1200px) {

    .eBook_header{
        width: 100vw;
    }
}

@media only screen and (max-width: 1060px) {
     .eBook_header h1{
         font-size: 50px;
    }
    .eBook_header #searchSelect select,input,button{
       height: 35px;
    }
}
@media only screen and (max-width: 1045px) {
    .eBook_header{
        display: inline-block;
    }
    .eBook_header h1{
        font-size: 55px;
        text-align: center;
        border-radius: 5px;
        background-color:rgba(143, 154, 160, 0.5) ;
    }
    #searchSelect{
        width: 60vw;
        margin: auto;
    }
}

@media only screen and (max-width: 920px) {

    .eBook_header h1{
        font-size: 50px;
    }



}

@media only screen and (max-width: 600px) {

    .eBook_header h1{
        font-size: 45px;
    }
    
}

@media only screen and (max-width: 450px) {

    .eBook_header h1{
        font-size: 40px;

    }


}