.main-replyBox .replyBoxComponent {
    border: 1px solid #ccc;
    margin: 10px; 
    padding: 10px; 
    border-radius: 10px; 
    text-align: left; 
    background-color: #f9f9f9;
    color: black;
  } 
  
  .main-replyBox .replyBoxComponent p {
    margin-left: 10px; 
    margin-bottom: 5px;
    word-wrap: break-word;
  }
  .main-replyBox .reportBtn{
    float: right;
    cursor: pointer;
    color: gray;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .main-replyBox .reportBtn:hover{
    color: red;
  }