/* 

#slms-logo{
    width: 70px;
}
.header-container .navbar-light{
    background: rgb(69,141,224) !important;
    background: linear-gradient(0deg, rgba(69,141,224,1) 16%, rgba(3,47,100,1) 87%) !important;

}
.header-container .nav-link{
    color: white !important;
}
.header-container.commonHeader .text-white {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 600;
    font-family: "Browallia New", sans-serif;
} */