#registerSection{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../../assets/images/RegisterSectionBackground.png');
   background-repeat: no-repeat;
    background-size: cover;
    min-height:1000px;
    height: 100%;
    box-sizing: border-box;
    color: white;
    border: 3px black solid;
}
#registerSection #registerPageSelection{
    width:80%;
    margin:auto;
}
#registerSection #registerPageSelection h3{
    text-decoration: underline;
}

#registerSection .selectMethod{
    width: 240px;
    display: inline-block;
    margin-left: 80px;
    margin-top: 10px;
    font-size: 17px;
}
#registerSection .selectMethod input{
    position: relative;
    bottom: 20px;
    height: 16px;
}
#registrationForm{
    width: 80%;
    margin: -20px auto;
    padding: 30px 50px ;
    position: relative;
    top:30px;
}

#registrationForm .form-check{
    width:40px;
    margin-left: 20px;
}
#registrationForm label{
    margin-top: 20px;
    font-weight: 500;
}
#registerSection h1 {
    text-align: center;
    text-decoration: underline;
    padding:20px 0 ;
    font-weight: bold;
}
#registrationForm button{
    background-color: #1E3541;
    color: yellow;
    border: none;
    margin-top: -20px;
    width: 30% !important;
}
.dot-animation {
    animation: dot-blink 1.5s infinite;
}

@keyframes dot-blink {
    0%, 20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
