.main-memberManage .fade{
    width: 100%;
    height: 100%;
}
.main-memberManage .summary-btn{
    background-color: rgb(7,46,93) !important;
    color: white;
    margin:10px 0 0 10px;
}
.main-memberManage .table{
    min-height: 60vh;
} 