#forgotPasswordFormMainDiv {
    background: linear-gradient(180deg, rgba(143, 154, 173, 1) 0%, rgba(53, 73, 84, 1) 46%, rgba(15, 24, 33, 1) 100%);
    min-height: 100vh;
    height: 100%;
    box-sizing: border-box;
}

#forgotPasswordSideImage img {
    width: 100%;
    height: 100vh;
    border-radius: 0 60px 60px 0;
}

#forgotPasswordForm {
    height: 80vh;
    background-color: rgba(161, 171, 177, 0.88);
    border-radius: 20px;
    opacity: 0.8;
    outline: #c4cbcf 2px solid;
}

#forgotPasswordForm p {
    color: white;
    text-align: center;
    font-size: 13px;
}

#forgotPasswordForm h3 {
    text-align: center;
    color: white;
    font-weight: bold;
}

#forgotPasswordForm label {
    margin-top: 20px;
    color: white;
    font-size: 13px;
}

#forgotPasswordForm #createAccountLink {
    color: white;
    font-size: 16px;
}

#forgotPasswordForm button {
    background-color: #1E3541 !important;
    border: none !important;
    margin-top: 20px;
    color: yellow;
}
#forgotPasswordForm #backToLogin{
    font-size: 13px;
}
@media (max-width: 768px) {
    #forgotPasswordForm #backToLogin{
        font-size: 13px;
    }
}
@media (max-width: 768px) {
    #forgotPasswordFormMainDiv{
        background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../../assets/images/LoginSideImage.jpg');
        background-size: cover;
    }
    #forgotPasswordSideImage img {
        display: none;
    }

    #forgotPasswordForm {
        opacity: 0.94;

    }
}