.main-reportComponent{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.main-reportComponent .report-container {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    position: fixed;
    top:50px;
    right: 0;
    background:linear-gradient(#eb8865, #de2929);
    border: 2px solid red;
    border-radius: 20px;
  } 
  .main-reportComponent .report-container.click{
    visibility: hidden;
  }
  .main-reportComponent .report-containerOuter{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5); 
  }
  .main-reportComponent .report-containerOuter.click{
    visibility: hidden;
  }
  .report-container h4 {
    margin-top: 0;
  }
  
  .main-reportComponent .report-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .main-reportComponent .report-container button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .main-reportComponent .report-container button:hover {
    background-color: #0056b3;
  }
  
  .main-reportComponent .report-container p {
    color: red;
    margin-top: 10px;
  }
  .main-reportComponent .report-container img{
    width: 40px;
    position: absolute;
    top:0;
    right: 0;
  }
  .main-reportComponent .report-container img:hover{
    width: 45px;
    position: absolute;
    top:0;
    right: 0;
  }
  .main-reportComponent .report-container img:active{
    width: 40px;
    position: absolute;
    top:0;
    right: 0;
  }