.add_Ebook_form{
    margin: 20px 0 0 0;
    padding: 0;
    background: url("../../../assets/images/ebook.jpeg") center center/cover no-repeat;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add_Ebook_form::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../../../assets/images/ebook.jpeg') center center/ cover no-repeat;
    filter: blur(5px);
    z-index: -1;
    opacity: 0.9 !important;
}
#add{
    text-align: center;
    font-size: 50px;
    font-weight:bolder;
    padding: 5px;

}

.formContainer{
    height: 90%;
    width: 91%;
    margin:50px auto!important;
    padding: 20px 40px;
    border-radius: 20px;
    background: rgba(239, 240, 246, 0.36) !important; /* Slightly transparent background */
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    box-shadow: 0 4px 8px rgba(248, 246, 246, 0.66); /* Soft shadow */
    border: 2px solid rgba(255, 255, 255, 0.2); /* Light border */
    position: relative;
    z-index: 2;
    font-size: 17px;
    font-weight:bolder;
}
.formContainer label{
    font-weight: bolder;
    font-size: 20px;
}