.main-alert .alert-container {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    position: fixed;
    top:50px;
    right: 0;
    background:linear-gradient(#ba9595, #e76161);
    border: 2px solid red;
    border-radius: 20px;
  }
  .main-alert .alert-container.click{
    visibility: hidden;
  }
  .main-alert .alert-containerOuter{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
  }
  .main-alert .alert-containerOuter.click{
    visibility: hidden;
  }
  .main-alert .alert-container h4 {
    margin-top: 0;
  }
    
  .main-alert .alert-container button {
    background-color: #007bff;
    margin-left: 10px;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .main-alert .alert-container button:hover {
    background-color: #0056b3;
  }
  
  .main-alert .alert-container p {
    color: red;
    margin-top: 10px;
  }
  .main-alert .alert-container img{
    width: 40px;
    position: absolute;
    top:0;
    right: 0;
  }
  .main-alert .alert-container img:hover{
    width: 45px;
    position: absolute;
    top:0;
    right: 0;
  }
  .main-alert .alert-container img:active{
    width: 40px;
    position: absolute;
    top:0;
    right: 0;
  }