.enewsPaper_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: url("../../../assets/images/e_newsPapers1.jpg") center center / cover no-repeat;
}
.enewsPaper_header h1{
    color: white;
    font-size: 60px;
    font-weight: bold;
}