.enewsPaper_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: url("../../../assets/images/e_newsPapers1.jpg") center center / cover no-repeat;
    width: 100vw;
}
.enewsPaper_header h1{
    color: white;
    font-size: 48px;
    font-weight: bold;
}


.enewsPaper_header h1 span{
    color: #C8F154;
}

@media only screen and (max-width: 1180px) {
    .enewsPaper_header h1{
        font-size: 47px;
    }
    #npSearchSelect{
        height: 35px;
    }

}

@media only screen and (max-width: 980px) {
    .enewsPaper_header{
        display: inline-block;
    }
    .enewsPaper_header h1{
        font-size: 50px;
        text-align: center;
        border-radius: 5px;
        background-color:rgba(143, 154, 160, 0.5) ;
    }

    .home_heading{
        text-shadow:
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px  2px 0 #000,
                2px  2px 0 #000 !important;
        color: white;
    }
    #npSearchSelect{
        width: 60vw;
        margin: auto;
    }

}