.main-ise .ise-container {
  padding: 50px;
  margin: 20px auto; 
  position: fixed;
  top: 0;
  height: 90vh;
  width: calc(80% - 0); 
  max-width: 1200px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px); /* Blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* Ensures no overflow within the container */
  z-index: 1000; /* Makes sure it's on top */
}

.main-ise .ise-container.click {
  visibility: hidden;
}

.main-ise .ise-containerOuter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensures it's behind the container */
}

.main-ise .ise-containerOuter.click {
  visibility: hidden;
}

.main-ise #imgSlider-container {
  max-width: 100%;
  height: 80vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* overflow-y: scroll; */
  margin: 0 auto;
}

.main-ise #imgSlider-container img {
  max-width: 100%;
  height: 80vh;
  object-fit: contain; /* Ensures the image fits within the container while maintaining its aspect ratio */
}

.main-ise #ise-close-btn {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: width 0.2s ease;
}

.main-ise #ise-close-btn:hover {
  width: 45px;
}

.main-ise #ise-close-btn:active {
  width: 40px;
}

/* Optional: Responsive adjustments */
@media (max-width: 768px) {
  .main-ise .ise-container {
    width: calc(100% - 20px);
    top: 20px;
  }
  .main-ise #imgSlider-container {
    height: 100vh;
  }
}
