.main-dBookAdminPage .dbookAdmin {
    min-height: 50vh;
  }
.main-dBookAdminPage #donate-book-numbers > img{
    width:40px;
    padding: 10px;
    margin:0 5px;
    border: 1px solid black;
    border-radius: 10px;
  }
.main-dBookAdminPage #donate-book-numbers > img:hover{
   padding: 5px;
   background-color: rgba(129,210,227,255);
   transition: 500ms;
  }
  .main-dBookAdminPage #donate-book-numbers {
    display: inline-flex;
    justify-content: center;
    width:80%;
  }
  .main-dBookAdminPage #donate-book-numbers > *{
    align-items: center;
  }
  .main-dBookAdminPage #summary-btn{
    float:right;
    margin: 10px 5px 5px 10px;
    position: relative;
    z-index: 100;
  } 
  /* .main-dBookAdminPage #request-books-btn{
    float:right;
    position: relative;
    margin-right: 5px;
    z-index: 100; 
  }  */

  .main-dBookAdminPage .dbookAdmin{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  #summary-btn1{
    float:right;
    margin-left:10px ;
  }
  #request-books-btn{
    float: right;
  }

  #donate-book-numbers p{
    font-size: 20px;
  }

  /* #summary-btn1{
    position: absolute;
    right: 150px;
    z-index: 1000;
  }
  #request-books-btn{
    position: absolute;
    right:0;
    z-index: 1000;
  } */