.postComponent {
    margin: 20px;
    width: 90%;
    height:auto;
    padding: 20px;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(179, 182, 185);
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
  }
  .post-btn-panel{
    width: 100%;
    padding:5px;
  }

  .imageSlider-container {
    display: flex;
    justify-content: center;  /* Horizontal centering */
    align-items: baseline;      /* Vertical centering */
    height: auto;            /* Example height, adjust as needed */
    border: 1px solid #ccc;   /* Optional: for visual debugging */
  }
  
  .imageSlider-container > * {
    max-width: 50%;          /* Ensure child respects container's width */
    max-height: 70%;         /* Ensure child respects container's height */
  }
  
  .contentBox{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: 1;
    text-align: center;
    background-color: rgb(222,226,227);
    margin: 50px;
    border-radius: 20px;
  }

  .postComponent td{
    text-align: center;
  }
  
  .postComponent input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .postComponent button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .postComponent button:hover {
    background-color: #f0f0f0;
  }
  .replyBox {
    margin-top: 20px;
    max-height:300px;
    height: auto;
    width: auto;
    overflow-y: scroll;
    
  }

  .image-box{
    max-width: 100%;    
    display: flex;
    flex-direction: column;
    border: 1px solid black;
  }

  .reportBtn{
    cursor: pointer;
    color: black;;
  }
  .reportBtn:hover{
    color: red;
  }

  .buttonPanel{
    cursor: pointer;
    color: black;
    margin-right: 20px;
    margin-left: 20px;
  }
  .buttonPanel:hover{
    color: rgb(12, 77, 198);
  }

  #savePostBtn{
    width:30px;
    margin-right: 20px;
  }
  #savePostBtn:hover{
    cursor: pointer;
  }


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 999; /* Ensure the overlay is above other content */
}

.overlay.remove {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
}

@media only screen and (max-width: 750px){
  .postComponent {
    display: grid;
    grid-template-columns: repeat(1,auto);
    grid-template-rows: 1fr;
    height:auto;
  }
}
@media only screen and (max-width: 1150px){
  .contentBox{
    display: grid;
    grid-template-columns: repeat(1,auto);
    grid-template-rows: 1fr;
  }
}
