
.reportPost-container div{
    border:1px solid white;
    color: white;
    padding:0 10px 10px 10px;
    background: rgb(239,34,21);
    background: linear-gradient(0deg, rgba(239,34,21,1) 22%, rgba(149,58,52,1) 96%);
    border-radius: 20px;
    text-align: center;
    margin: 10px;
}
#reportPost-description:hover{
    cursor: pointer;
    font-size: 1.1em;
    position: relative;
    z-index: 1;
    
}
.reportPost-container button{
    background: rgb(5,26,51);
    background: linear-gradient(0deg, rgba(5,26,51,1) 16%, rgba(60,128,208,1) 90%);
    border-radius: 10px;
    color: white;
}
#reportPost-description{
    border:1px solid white;
    padding:2px;
    border-radius: 5px;
    background-color: rgb(27, 43, 218);
}