
.reportPost-container div{
    border:1px solid white;
    color: black;
    padding:0 10px 10px 10px;
    background-color: rgb(218, 97, 97);
    border-radius: 20px;
    text-align: center;
    margin: 10px;
}
.reportPost-container h4:hover{
    cursor: pointer;
    font-size: 1.1em;
    position: relative;
    z-index: 1;
    
}
.reportPost-container button{
    background-color:blueviolet;
    border-radius: 10px;
}